@charset "utf-8";
/*>>>>> 공통 <<<<<*/

/* 버튼 */
.btn {display:inline-block; padding:0 10px; border:1px solid #666; min-width:100px; line-height:32px; color:#000; background:#fff}
.btnPoint {border:1px solid #0055a5; color:#fff; background:#0055a5}
.btnPointL {border:1px solid #0055a5; color:#0055a5; background:#fff}
.btnGray {border:1px solid #999; color:#fff; background:#aaa}
.btn span {display:inline-block; padding-left:20px; color:inherit; line-height:inherit; vertical-align:top}
.btn span.icoSearch {background:url("/resouces/images/admin/ico-search.png") no-repeat left center}

/* 버튼정렬 */
.btnBottom {margin-top:20px; text-align:center}
.btnBottom .btn {margin:0 5px; min-width:120px; line-height:40px; font-weight:500}
.btnBottom .left {overflow:hidden; float:left}
.btnBottom .right {overflow:hidden; float:right}
.btnBottom .left .btn,
.btnBottom .right .btn {float:left}
.btnBottom .left .btn + .btn,
.btnBottom .right .btn + .btn {margin-left:10px}

/* ROW 테이블 */
.rowTable {border-top:2px solid #0055a5}
.rowTable table th,
.rowTable table td {padding:6px 20px; border-bottom:1px solid #ccc; height:46px; text-align:left}
.rowTable table th {position:relative; padding:13px 0 13px 25px; vertical-align:top; text-indent:-5px; line-height:20px; font-weight:700; color:#0055a5; letter-spacing:-0.05em; background:#f4f4f4}
.rowTable table th:before {display:inline-block; content:"·"; margin-right:5px}
.rowTable table td > * + * {margin-left:8px}
.rowTable table td > .line {display:flex; overflow:hidden; margin:8px 0 0 0}
.rowTable table td > .line > * + * {margin-left:8px}
.rowTable table td > .line .flexItem {flex:1}
.rowTable table th p {margin-right:25px; letter-spacing:-0.03em; font-size:12px} /* 2020-12-11 */

/* COL 테이블 */
.colTable {overflow:hidden; border-top:2px solid #1b2e59;}
.colTable table {margin-left:-1px; width:calc(100% + 1px)}
.colTable table th {padding:3px; border-top:1px solid #ccc; border-left:1px solid #ccc; height:51px; color:#1b2e59; text-align:center; font-weight:700; background:#e1e6ea}
.colTable table thead tr:first-child th {border-top:none}
.colTable table tr + tr th {border-left:1px solid #ccc; background:#f4f4f4}
.colTable table td {padding:5px 10px; border-left:1px solid #ccc; border-top:1px solid #ccc; height:51px; text-align:center; letter-spacing:-0.06em; color:#000}
.colTable table td a {text-decoration:underline} /* 2020-12-11 */
.colTable.checkTable table th {padding:14px 10px}
.colTable.checkTable table th:before {display:none} /* 2020-12-11 */
.colTable.checkTable table th .checkbox {display:block}

/* 테이블 상단 */
.tableTop {margin-bottom:10px}
.tableTop:after {display:block; content:""; clear:both}
.tableTop .total {float:left; line-height:34px; font-size:16px; color:#666}
.tableTop .total strong {vertical-align:top; font-weight:500; color:#000}
.tableTop .right {float:right}
.tableTop .right:after {display:block; content:""; clear:both}
.tableTop .right > * {float:left}
.tableTop .right > * + * {margin-left:10px}

/* 인풋 셀렉트 라디오 체크박스 */
input[type=text],
input[type=password] {border:1px solid #ccc; padding:0 10px; max-width:100%; width:200px; height:34px; letter-spacing:-0.05em}
textarea {border:1px solid #ccc; padding:10px; height:100px; letter-spacing:-0.05em; resize:none; width:100%}
.checkbox {display:inline-block; position:relative}
.checkbox input[type=checkbox],
.checkbox input[type=radio] {position:absolute; top:0; left:0; margin:0; width:100%; height:100%; opacity:0}
.checkbox input + label {display:inline-block; padding-left:30px; line-height:24px; font-size:14px; color:#000; letter-spacing:-0.05em; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
.checkbox input:disabled + label {opacity:0.6; filter:alpha(opacity=60)}
.checkbox input[type=checkbox] + label {background:url("/resouces/images/admin/checkbox.png") no-repeat left center}
.checkbox input[type=checkbox]:checked + label {background:url("/resouces/images/admin/checkbox-on.png") no-repeat left center}
.checkbox input[type=radio] + label {background:url("/resouces/images/admin/radio.png") no-repeat left center}
.checkbox input[type=radio]:checked + label {background:url("/resouces/images/admin/radio-on.png") no-repeat left center}
.checkboxWrap {margin:-8px}
.checkboxWrap .checkbox {margin:8px}
.date {display:inline-block}
.date input {margin-right:10px; width:158px}
.dateWrap {display:inline-block; overflow:hidden}
.dateWrap > * {float:left}
.dateWrap > em {width:25px; text-align:center; line-height:34px; color:#000}
.selectbox {display:inline-block; position:relative; border:1px solid #ccc; width:200px; background:#fff}
.selectbox span {display:block; overflow:hidden; padding:0 40px 0 10px; line-height:32px; white-space:nowrap; text-overflow:ellipsis; background:url("/resouces/images/admin/bl-arrow.png") no-repeat right center}
.selectbox select {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0}
.file {display:inline-block; position:relative; padding-right:112px}
.file input[type=text] {width:300px}
.file input[type=file] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0}
.file:before {display:block; content:"찾아보기"; position:absolute; top:0; right:0; padding:0 10px; border:1px solid #999; width:80px; text-align:center; line-height:32px; color:#fff; background:#aaa}

/* 검색영역 */
.searchArea {padding:20px 20px 25px; margin-bottom:30px; text-align:center; background:#f5f5f5}
.searchArea .inBox {display:inline-block; overflow:hidden; max-width:940px; text-align:left}
.searchArea .inBox table {table-layout:auto; width:100%}
.searchArea .inBox table th {position:relative; font-size:14px; height:44px; font-weight:500; color:#000}
.searchArea .inBox table td {padding:5px 0; height:44px}
.searchArea .btnArea {overflow:hidden; margin-top:10px; text-align:center}
.searchArea .btnArea .btn + .btn {margin-left:10px}

/* 페이징 */
.paging {margin-top:40px; text-align:center}
.paging .inner {display:inline-block; overflow:hidden}
.paging .inner > * {float:left}
.paging .inner .page {overflow:hidden; margin:0 8px}
.paging .inner a,
.paging .inner strong {float:left; margin:0 2px; border:1px solid #ccc; width:38px; line-height:36px; letter-spacing:-0.05em}
.paging .inner strong {border-color:#8bc365; color:#fff; background:#8bc365}
.paging .inner > a {text-indent:-9999px}
.paging .inner > a.btnFirst {background:#f4f6f6 url("/resouces/images/admin/btn-first.png") no-repeat center}
.paging .inner > a.btnPrev {background:#f4f6f6 url("/resouces/images/admin/btn-prev.png") no-repeat center}
.paging .inner > a.btnNext {background:#f4f6f6 url("/resouces/images/admin/btn-next.png") no-repeat center}
.paging .inner > a.btnLast {background:#f4f6f6 url("/resouces/images/admin/btn-last.png") no-repeat center}

/* 여백 */
.mT20 {margin-top:20px !important}

/* 사이즈 */
.w100 {width:100px !important}
.w412 {width:412px !important}
.w430 {width:430px !important}

/* 텍스트 */
.txtL {text-align:left !important}
.cRed {color:#ff2428}
.bgGray {background:#e1e6ea}

/* 파일 선택 */
.fileDelete {margin:8px 0 0 !important}
.fileDelete button {margin-left:8px; border:none; color:#000; background:none}

/* 탭 */
.tabArea > ul {overflow:hidden; margin-bottom:10px}
.tabArea > ul li {float:left; padding:0 10px; border:1px solid #0055a5; min-width:100px; text-align:center; background:#fff}
.tabArea > ul li.curr {background:#0055a5}
.tabArea > ul li.curr a {color:#fff}
.tabArea > ul li a {display:block; line-height:32px; font-size:14px; color:#0055a5}

/* 그래프 */
.graph {overflow:hidden}
.graph > * {float:left}
.graph p {position:relative; width:600px; height:30px; background:#fafafa}
.graph p span {display:block; position:absolute; top:0; left:0; height:100%; background:#0055a5}
.graph strong {margin-left:10px; line-height:30px; font-size:14px; color:#000}

/*>>>>> 페이지 <<<<<*/
/* 로그인 */
#fullWrap {display:table; margin:0 auto; width:400px; height:100vh}
#fullWrap .loginWrap {display:table-cell; vertical-align:middle; text-align:center}
#fullWrap .loginWrap .loginTit {margin-bottom:24px; padding-bottom:32px; border-bottom:2px solid #0055a5}
#fullWrap .loginWrap .loginTit h1 {margin-top:16px; text-align:center; line-height:25px; letter-spacing:0.1em; font-size:22px; font-weight:500; color:#000}
#fullWrap .loginWrap .inputBox > p {padding:8px 0}
#fullWrap .loginWrap .inputBox p input[type=text],
#fullWrap .loginWrap .inputBox p input[type=password] {width:400px}
#fullWrap .loginWrap .inputBox button {width:100%; height:34px; border:1px solid #0055a5; color:#fff; background:#0055a5}
#fullWrap .loginWrap .inputBox p.txt {text-align:left}