@charset "utf-8";
/* WRAP */
#wrap {overflow:hidden; padding-top:145px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
@media (max-width: 1160px) {
	#wrap {padding-top:80px}
}
@media (max-width: 767px) {
	#wrap {padding-top:60px}
}

/* HEADER */
#header {position:fixed; top:0; left:0; z-index:100; width:100%; height:145px; background:#fff}
#header > .inner {margin:0 auto; padding:0 20px; width:1376px; max-width:100%; height:88px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#header > .inner h1 {margin:0 auto; padding-top:30px; width:493px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#header > .inner h1 a {display:block; width:100%; height:25px; text-indent:-9999px; background:url("/resouces/images/user/common/logo.png") no-repeat center/auto 100%; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#header > .inner .btnMenu {display:none; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
@media (max-width: 1160px) {
	#header {height:80px}
	#header > .inner {height:80px}
	#header > .inner h1 {float:left; padding-top:29px; width:434px}
	#header > .inner h1 a {height:22px}
	#header > .inner .btnMenu {display:block; position:absolute; top:0; right:0; width:80px; height:80px; text-indent:-9999px; background:url("/resouces/images/user/common/btn-menu.png") no-repeat center/26px auto}
}
@media (max-width: 767px) {
	#header {height:60px}
	#header > .inner {height:60px}
	#header > .inner h1 {padding-top:24px; width:237px}
	#header > .inner h1 a {height:12px}
	#header > .inner .btnMenu {width:70px; height:60px; background-size:20px auto}
}

/* GNB */
#gnb {position:fixed; top:88px; left:0; z-index:1; width:100%; background:#f9fafc}
#gnb .btnClose {display:none}
#gnb .inner {position:relative; margin:0 auto; padding:0 20px; width:1376px; max-width:100%}
#gnb .inner .lang {position:absolute; top:-60px; left:20px}
#gnb .inner .lang ul {overflow:hidden}
#gnb .inner .lang ul li {float:left}
#gnb .inner .lang ul li + li {position:relative; padding-left:15px; margin-left:14px}
#gnb .inner .lang ul li + li:before {display:inline-block; content:""; position:absolute; top:11px; left:0; border-left:1px solid #666; height:11px}
#gnb .inner .lang ul li a {display:block; line-height:30px; font-size:14px; font-weight:500; color:#888}
#gnb .inner .lang ul li.curr a {color:#0055a5}
#gnb .inner .util {position:absolute; top:-60px; right:20px}
#gnb .inner .util ul {overflow:hidden}
#gnb .inner .util ul li {float:left}
#gnb .inner .util ul li + li {position:relative; padding-left:15px; margin-left:14px}
#gnb .inner .util ul li + li:before {display:inline-block; content:""; position:absolute; top:10px; left:0; border-left:1px solid #666; height:11px}
#gnb .inner .util ul li a {display:block; line-height:30px; font-size:14px; font-weight:500; color:#888}
#gnb .inner .util ul li.btnHome {display:none}
/* #gnb .inner .util ul li.btnMypage {display:none} */
#gnb .inner .util ul li.btnHome + li {margin-left:0; padding-left:0}
#gnb .inner .util ul li.btnHome + li:before {display:none}
#gnb .inner > ul:before {display:block; content:""; position:fixed; top:88px; left:0; z-index:-1; width:100%; height:57px; background:#0055a5}
#gnb .inner > ul {display:flex; margin:0 auto; width:1080px; max-width:100%}
#gnb .inner > ul > li {flex:1; text-align:center}
#gnb .inner > ul > li > a {display:block; position:relative; line-height:57px; font-size:20px; font-weight:500; color:#fff; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#gnb .inner > ul > li:hover > a:before {display:block; content:""; position:absolute; bottom:0; left:0; width:100%; height:4px; background:#0055a5}
#gnb .inner > ul > li ul li:first-child {padding-top:15px}
#gnb .inner > ul > li ul li:last-child {padding-bottom:20px}
#gnb .inner > ul > li ul li a {display:block; line-height:42px; font-size:16px; color:#404040}
#gnb .inner > ul > li ul li a:hover {color:#0082a8}
@media (min-width: 1161px) {
	#gnb {display:block !important}
	#gnb .inner > ul > li ul {display:block !important; overflow:hidden; height:0}
	#gnb .inner > ul:before {transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
	#gnb .inner > ul:hover:before {background:#fff}
	#gnb .inner > ul:hover > li > a {color:#333}
	#gnb .inner > ul:hover > li ul {height:330px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
}
@media (max-width: 1160px) {
	#gnb {display:none; position:fixed; top:0; left:0; z-index:100; height:100%; background:#fff}
	#gnb .btnClose {display:block; position:fixed; top:0; right:0; z-index:20; width:80px; height:70px; text-indent:-9999px; background:url("/resouces/images/user/common/btn-close.png") no-repeat center/22px auto}
	#gnb .inner {padding:0}
	#gnb .inner .lang {position:fixed; top:70px; left:0; z-index:10; padding:18px 20px; width:100%; text-align:right; background:#0f64cc}
	#gnb .inner .lang ul {display:inline-block; border-radius:4px; vertical-align:top; background:#fff}
	#gnb .inner .lang ul li + li {margin:0; padding:0}
	#gnb .inner .lang ul li + li:before {border-color:#ccc; height:11px}
	#gnb .inner .lang ul li a {padding:0 13px; line-height:34px}
	#gnb .inner .lang ul li.curr a {color:#0055a5}
	#gnb .inner .util {position:fixed; top:0; right:0; z-index:20; padding:20px 20px 20px 25px; border:1px solid #3f83d6; width:100%; height:70px; background:#0f64cc}
	#gnb .inner .util ul {overflow:inherit}
	#gnb .inner .util ul:after {display:block; content:""; clear:both}
	#gnb .inner .util ul li {float:left}
	#gnb .inner .util ul li + li {padding-left:0; margin-left:24px}
	#gnb .inner .util ul li + li:before {display:none}
	#gnb .inner .util ul li a {display:block; width:27px; height:27px; text-indent:-9999px}
	#gnb .inner .util ul li.btnHome,
	#gnb .inner .util ul li.btnMypage {display:block}
	#gnb .inner .util ul li.btnHome a {background:url("/resouces/images/user/common/ico-home.png") no-repeat center/100% auto}
	#gnb .inner .util ul li.btnLogIn a {background:url("/resouces/images/user/common/ico-login.png") no-repeat center/100% auto}
	#gnb .inner .util ul li.btnLogOut a {background:url("/resouces/images/user/common/ico-logout.png") no-repeat center/100% auto}
	#gnb .inner .util ul li.btnMypage {position:absolute; top:87px; left:-5px}
	#gnb .inner .util ul li.btnMypage a {padding:0 13px; border-radius:4px; width:auto; height:auto; text-indent:0; line-height:34px; font-size:14px; font-weight:500; color:#fff; background:#0050b2}
	#gnb .inner .util ul li.btnHome + li {margin-left:24px}
	#gnb .inner > ul {display:block; padding:174px 20px 50px; height:100vh}
	#gnb .inner > ul:before {display:block; top:0; left:0; width:41.5%; height:100%; background:#f4f4f4}
	#gnb .inner > ul > li {text-align:left; width:100%}
	#gnb .inner > ul > li > a {display:inline-block; position:relative; z-index:1; padding:0 5px; line-height:50px; font-size:17px; font-weight:700; color:#000}
	#gnb .inner > ul > li:hover > a:before {display:none}
	#gnb .inner > ul > li ul {display:none; position:absolute; top:0; right:0; padding:174px 20px 50px; width:58.5%; height:100%}
	#gnb .inner > ul > li ul li {padding:0 !important}
	#gnb .inner > ul > li ul li a {display:block; line-height:50px; font-size:17px; color:#000}
	#gnb .inner > ul > li.curr > a:before {display:block; content:""; position:absolute; bottom:11px; left:0; z-index:-1; width:100%; height:15px; background:#c1dcff}
	#gnb .inner > ul > li.curr ul {display:block}
}
@media (max-width: 767px) {
	#gnb .btnClose {width:70px; background-size:21px auto}
}

/* CONTAINER */
#container .pageTit {height:300px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#container .pageTit h2 {text-align:center; line-height:300px; font-weight:700; color:#fff; font-size:34px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#container .pageTit.v1 {background:url("/resouces/images/user/bg-visual01.png") no-repeat center/cover}
#container .pageTit.v2 {background:url("/resouces/images/user/bg-visual02.png") no-repeat center/cover}
#container .pageTit.v3 {background:url("/resouces/images/user/bg-visual03.png") no-repeat center/cover}
#container .pageTit.v4 {background:url("/resouces/images/user/bg-visual04.png") no-repeat center/cover}
#container .pageTit.v5 {background:url("/resouces/images/user/bg-visual05.png") no-repeat center/cover}
#container .pageTit.v6 {background:url("/resouces/images/user/bg-visual06.png") no-repeat center/cover}
#container .pageTit.v7 {background:url("/resouces/images/user/bg-visual07.png") no-repeat center/cover}
#container .pageTit.v8 {background:url("/resouces/images/user/bg-visual08.png") no-repeat center/cover}
#container .path {border-bottom:1px solid #e2e2e2}
#container .path .inner {margin:0 auto; padding:0 20px; width:1240px; max-width:100%}
#container .path .inner:after {display:block; content:""; clear:both}
#container .path .inner > a {display:block; float:left; border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2; width:59px; height:59px; text-indent:-9999px; background:url("/resouces/images/user/ico-home.png") no-repeat center}
#container .path .inner > div {position:relative; z-index:50; float:left; width:220px; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#container .path .inner > div > a {display:block; padding:0 30px; border-right:1px solid #e2e2e2; line-height:59px; font-size:16px; color:#666; background:url("/resouces/images/user/bl-arrow.png") no-repeat right 17px center/12px auto; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#container .path .inner > div:last-child > a {color:#222; font-weight:500}
#container .path .inner > div ul {display:none; position:absolute; top:59px; left:-1px; right:0; border:1px solid #e2e2e2; background:#fff}
#container .path .inner > div ul li:first-child {padding-top:10px}
#container .path .inner > div ul li:last-child {padding-bottom:10px}
#container .path .inner > div ul li a {display:block; padding:0 30px; line-height:40px; font-size:16px; color:#666; font-weight:300}
#container .path .inner > div ul li.curr a,
#container .path .inner > div ul li:hover a {color:#0055a5}
#container .contents {margin:0 auto; padding:90px 20px 120px; width:1240px; max-width:100%; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
#container .contents h3 {margin-bottom:65px; text-align:center; line-height:66px; font-size:46px; font-weight:700; color:#333; transition:all 0.2s; -webkit-transition:all 0.2s; -moz-transition:all 0.2s}
@media (max-width: 1160px) {
	#container .pageTit {height:250px}
	#container .pageTit h2 {line-height:250px; font-size:26px}
	#container .path .inner {padding:0}
	#container .path .inner > a {border-left:none; width:49px; height:49px}
	#container .path .inner > div > a {padding:0 25px; line-height:49px; font-size:14px}
	#container .path .inner > div ul {top:49px}
	#container .path .inner > div ul li a {padding:0 25px; line-height:35px; font-size:14px}
	#container .contents {padding:60px 20px 80px}
	#container .contents h3 {margin-bottom:45px; line-height:50px; font-size:36px}
}
@media (max-width: 767px) {
	#container .pageTit {height:170px}
	#container .pageTit h2 {line-height:170px; font-size:20px}
	#container .pageTit.v1 {background-image:url("/resouces/images/user/bg-visual01-m.png")}
	#container .pageTit.v3 {background-image:url("/resouces/images/user/bg-visual03-m.png")}
	#container .pageTit.v5 {background-image:url("/resouces/images/user/bg-visual05-m.png")}
	#container .pageTit.v7 {background-image:url("/resouces/images/user/bg-visual07-m.png")}
	#container .pageTit.v8 {background-image:url("/resouces/images/user/bg-visual08-m.png")}
	#container .path .inner > a {display:none}
	#container .path .inner > div {display:none; width:100%}
	#container .path .inner > div > a {padding:0 40px 0 20px; border-right:none; line-height:39px; font-size:12px; background-position:right 20px center}
	#container .path .inner > div:last-child {display:block}
	#container .path .inner > div ul {top:39px; left:0; right:0; border-left:none; border-right:none}
	#container .path .inner > div ul li:first-child {padding-top:5px}
	#container .path .inner > div ul li:last-child {padding-bottom:5px}
	#container .path .inner > div ul li a {padding:0 20px; line-height:25px; font-size:12px}
	#container .contents {padding:45px 20px 60px}
	#container .contents h3 {margin-bottom:35px; line-height:32px; font-size:23px}
}

/* FOOTER */
#footer {background:#303030}
#footer .inner {position:relative; margin:0 auto; padding:20px 20px 26px; width:1376px; max-width:100%}
#footer .inner .util {overflow:hidden; margin-bottom:10px}
#footer .inner .util li {float:left}
#footer .inner .util li + li {position:relative; padding-left:13px; margin-left:12px}
#footer .inner .util li + li:before {display:block; content:""; position:absolute; top:9px; left:0; width:1px; height:12px; background:#909090}
#footer .inner .util li a {display:block; line-height:30px; font-size:16px; font-weight:700; color:#fff}
#footer .inner p {line-height:30px; font-size:14px; color:#fff; font-weight:300}
#footer .inner p strong {font-weight:300}
#footer .inner p span {display:inline-block; margin-left:20px; vertical-align:top}
#footer .inner .familySite {position:absolute; top:30px; right:20px}
#footer .inner .familySite strong {display:block; padding-left:20px; width:220px; line-height:50px; font-weight:500; font-size:16px; color:#fff; cursor:pointer; background:#414141 url("/resouces/images/user/common/bl-arrow.png") no-repeat right 20px center}
#footer .inner .familySite strong.on {background-image:url("/resouces/images/user/common/bl-arrow-on.png")}
#footer .inner .familySite ul {display:none; position:absolute; bottom:50px; left:0; width:100%; background:#505050}
#footer .inner .familySite ul li:first-child {padding-top:10px}
#footer .inner .familySite ul li:last-child {padding-bottom:10px}
#footer .inner .familySite ul li a {display:block; padding:0 10px 0 20px; line-height:40px; font-size:14px; color:#fff}
@media (max-width: 1160px) {
	#footer .inner p strong {display:block}
	#footer .inner p span {margin:0}
	#footer .inner p span + span {margin-left:20px}
}
@media (max-width: 767px) {
	#footer .inner {padding:30px 20px 40px}
	#footer .inner .util li + li:before {top:7px; height:9px}
	#footer .inner .util li a {line-height:22px; font-size:12px}
	#footer .inner p {line-height:22px; font-size:10px}
	#footer .inner .familySite {position:relative; top:0; right:0; margin-top:22px}
	#footer .inner .familySite strong {padding-left:0; width:100%; text-align:center; line-height:35px; font-size:12px; background:#414141}
	#footer .inner .familySite strong.on {background:#414141}
	#footer .inner .familySite ul {bottom:35px}
	#footer .inner .familySite ul li:first-child {padding-top:5px}
	#footer .inner .familySite ul li:last-child {padding-bottom:5px}
	#footer .inner .familySite ul li a {padding:0; text-align:center; line-height:26px; font-size:11px}
}